body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"], select {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	width: 100%;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

#allocationTable {
  max-width: 600px;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 40px;
}

th {
  background-color: #f2f2f2;
}


